
<img src='https://upload.wikimedia.org/wikipedia/commons/d/d6/Manoel.jpg' width='700' height='300' style = 'border:30px solid yellow'>
<h1 style ='color:teal'> Enter a name</h1>
<form action='/named-cheezborgar' method='post'>
  <input type='text'name='name'>
  <input type='submit' value='Go!'>
</form>
