
<div>
  <img class='center' style='border:30px solid magenta'src='http://bit.ly/1eze8aE'>

  <% if @name %>
    <h1 style='color:green'>It is I, the great <%= @name %> of the olden days of the internet!</h1>
  <% end %>
  <p> Change the world! My final message</p>
</div>
